[submodule "lib/breakout"]
	path = lib/breakout
	url = https://DThought@github.com/DThought/scrollbar-breakout
[submodule "lib/showcase"]
	path = lib/showcase
	url = https://DThought@github.com/DThought/showcase
