[submodule "lib/cleverly"]
	path = lib/cleverly
	url = ssh://git@github.com/deeptoaster/cleverly
[submodule "force-closure"]
	path = force-closure
	url = ssh://git@github.com/deeptoaster/force-closure
[submodule "css"]
	path = css
	url = ssh://git@github.com/deeptoaster/stupid-css
[submodule "slides"]
	path = slides
	url = ssh://git@github.com/deeptoaster/stupid-css-slides
[submodule "tracker"]
	path = tracker
	url = ssh://git@github.com/deeptoaster/tasker-tracker
[submodule "spaceteam"]
	path = spaceteam
	url = ssh://git@github.com/deeptoaster/spaceteam
[submodule "ct3d"]
	path = ct3d
	url = ssh://git@github.com/deeptoaster/ct3d-site
[submodule "vacuum"]
	path = vacuum
	url = ssh://git@github.com/deeptoaster/vacuum.fm
