[submodule "lib/cleverly"]
	path = lib/cleverly
	url = ssh://git@github.com/deeptoaster/cleverly
[submodule "force-closure"]
	path = force-closure
	url = ssh://git@github.com/deeptoaster/force-closure
