html {
  background-color: #161819;
  color: #232627;
}
body {
  margin: 0;
  font: 20px/1.5 'Titillium Web', sans-serif;
}
h1 {
  display: inline-block;
  margin: 0;
  font-size: 2em;
}
h2 {
  margin: 0;
  padding: 0.625em 0;
  font-size: 1.6em;
  text-indent: 0.3em;
}
h3 {
  margin: 0;
  padding: 2.5em 0 0.5em 0;
  font-size: 1em;
}
p {
  margin: 0;
  padding: 0.5em 0;
}
cite {
  display: block;
  font-size: 0.7em;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
i {
  font-style: normal;
  padding-right: 0.5em;
}
.section {
  position: relative;
  overflow: hidden;
  text-align: center;
}
.content {
  position: relative;
  padding: 1em 0;
}
.col {
  float: left;
}
.lead {
  font-size: 1.2em;
}
.list-group {
  list-style-type: none;
  margin: 0.5em 15%;
  padding: 0;
}
.list-group-item {
  display: inline-block;
  width: 12em;
  margin: 0.2em 0;
}
.list-group-item span {
  display: inline-block;
  padding: 0.4em;
}
.post {
  margin: 0.9em;
  border: 0.9em solid #27556c;
  border-radius: 0.2em;
  background-color: #d2d7d9;
}
.post-title {
  padding-top: 0;
  background-color: #27556c;
  color: #d2d7d9;
}
.post-content {
  padding: 0 0.9em;
}
.comments {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.comment, .comment-respond {
  padding: 0.4em 0.9em;
  background-color: #a6b8c1;
  color: #374952;
}
.comment-respond h3 {
  padding-top: 0.5em;
}
.comment-metadata {
  font-size: 0.8em;
  font-style: italic;
  line-height: 1;
}
.comment-edit-link {
  padding-left: 0.5em;
}
.comment-content {
  margin-left: 3.9em;
}
.avatar {
  float: left;
  width: 3em;
  height: auto;
  margin-top: 0.5em;
  margin-right: 0.9em;
}
.date {
  float: right;
  text-transform: none;
  font: 0.9em/1 'Titillium Web', sans-serif;
  font-weight: bold;
  letter-spacing: normal;
}
.svg {
  position: relative;
  margin: 6em auto;
  font-size: 10px;
}
.svg-ellipse, .svg-line {
  display: block;
  position: absolute;
  border-style: solid;
  border-color: #232627;
}
.svg-ellipse {
  border-radius: 100%;
}
.svg-line::after {
  content: '';
  display: block;
  position: absolute;
  top: -.2em;
  bottom: -.2em;
  background-color: #617078;
  animation-name: left, right;
  animation-delay: inherit;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in, ease-out;
}
.map {
  position: absolute;
  top: 0;
  overflow: hidden;
}
.map-left {
  left: -22em;
}
.map-right {
  right: -20em;
}
.map img {
  display: block;
  position: relative;
}
.map-left img {
  height: 26em;
}
.map-right img {
  height: 48em;
  bottom: 16em;
}
.map span, em {
  border-width: 0.2em 0 0 0;
  border-style: solid;
  border-radius: 50%;
  font-style: normal;
}
.map span {
  display: block;
  position: absolute;
}
.pull-right {
  float: right;
}
.reel {
  display: inline-block;
  height: 1em;
  margin-bottom: -0.2em;
  padding-bottom: 0.2em;
  overflow: hidden;
  text-align: right;
  vertical-align: top;
}
.reel-scroll {
  position: relative;
  animation-name: reel;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
.reel-symbol {
  display: block;
  height: 1.5em;
}
.honeycomb {
  margin: 1em 0;
}
.honeycomb-row {
  margin: -0.9em;
}
.honeycomb-cell {
  display: inline-block;
  position: relative;
  width: 3.46em;
  height: 2em;
  margin: 1em -0.05em;
  white-space: nowrap;
}
.honeycomb-cell::before, .honeycomb-cell::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  border-right: 1.73em solid transparent;
  border-left: 1.73em solid transparent;
}
.honeycomb-cell::before {
  bottom: 100%;
  border-bottom: 1em solid transparent;
}
.honeycomb-cell::after {
  top: 100%;
  border-top: 1em solid transparent;
}
.honeycomb-cell.honeycomb-1064 {
  background-color: #43877b;
}
.honeycomb-cell.honeycomb-1064::before {
  border-bottom: 1em solid #43877b;
}
.honeycomb-cell.honeycomb-1064::after {
  border-top: 1em solid #43877b;
}
.honeycomb-cell.honeycomb-1064:hover {
  background-color: #246c60;
}
.honeycomb-cell.honeycomb-1064:hover::before {
  border-bottom: 1em solid #246c60;
}
.honeycomb-cell.honeycomb-1064:hover::after {
  border-top: 1em solid #246c60;
}
.honeycomb-cell.honeycomb-blacker {
  background-color: #374952;
}
.honeycomb-cell.honeycomb-blacker::before {
  bottom: 100%;
  border-bottom: 1em solid #374952;
}
.honeycomb-cell.honeycomb-blacker::after {
  top: 100%;
  border-top: 1em solid #374952;
}
.honeycomb-cell.honeycomb-blacker:hover {
  background-color: #232627;
}
.honeycomb-cell.honeycomb-blacker:hover::before {
  border-bottom: 1em solid #232627;
}
.honeycomb-cell.honeycomb-blacker:hover::after {
  border-top: 1em solid #232627;
}
.honeycomb-cell.honeycomb-caltech {
  background-color: #8b715f;
}
.honeycomb-cell.honeycomb-caltech::before {
  border-bottom: 1em solid #8b715f;
}
.honeycomb-cell.honeycomb-caltech::after {
  border-top: 1em solid #8b715f;
}
.honeycomb-cell.honeycomb-caltech:hover {
  background-color: #664f40;
}
.honeycomb-cell.honeycomb-caltech:hover::before {
  border-bottom: 1em solid #664f40;
}
.honeycomb-cell.honeycomb-caltech:hover::after {
  border-top: 1em solid #664f40;
}
.honeycomb-cell.honeycomb-clrhome {
  background-color: #8b7b5f;
}
.honeycomb-cell.honeycomb-clrhome::before {
  border-bottom: 1em solid #8b7b5f;
}
.honeycomb-cell.honeycomb-clrhome::after {
  border-top: 1em solid #8b7b5f;
}
.honeycomb-cell.honeycomb-clrhome:hover {
  background-color: #665840;
}
.honeycomb-cell.honeycomb-clrhome:hover::before {
  border-bottom: 1em solid #665840;
}
.honeycomb-cell.honeycomb-clrhome:hover::after {
  border-top: 1em solid #665840;
}
.honeycomb-cell.honeycomb-omnimaga {
  background-color: #535a92;
}
.honeycomb-cell.honeycomb-omnimaga::before {
  border-bottom: 1em solid #535a92;
}
.honeycomb-cell.honeycomb-omnimaga::after {
  border-top: 1em solid #535a92;
}
.honeycomb-cell.honeycomb-omnimaga:hover {
  background-color: #313975;
}
.honeycomb-cell.honeycomb-omnimaga:hover::before {
  border-bottom: 1em solid #313975;
}
.honeycomb-cell.honeycomb-omnimaga:hover::after {
  border-top: 1em solid #313975;
}
.honeycomb-honey {
  position: relative;
  z-index: 1;
  height: 100%;
}
.coaster {
  position: relative;
  height: 12em;
  overflow: hidden;
}
.coaster-track {
  position: absolute;
  left: 50%;
  width: 43em;
  height: 100%;
}
.coaster-cap, .coaster-cup, .coaster-line, .coaster-clear {
  display: block;
  position: absolute;
  overflow: hidden;
}
.coaster-line {
  height: 2em;
  border-bottom: 0.3em solid #859fab;
  -webkit-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  transform-origin: bottom left;
}
.coaster-cap span, .coaster-cup span {
  display: block;
  position: absolute;
  top: 0;
  right: -10%;
  bottom: 0;
  left: -10%;
  border: 0.3em solid #859fab;
  border-radius: 100%;
}
.coaster-cap::before, .coaster-cap span::after, .coaster-cup::before,
.coaster-cup span::after {
  content: '';
  display: block;
  position: absolute;
  left: -0.3em;
  width: 100%;
  height: 12em;
  padding: 0 0.3em;
}
.coaster-cap::before {
  bottom: 75%;
}
.coaster-cap span::after {
  top: 25%;
}
.coaster-cup::before {
  top: 75%;
}
.coaster-cup span::after {
  bottom: 25%;
}
.coaster-track, .coaster-cap span, .coaster-cap span::after, .coaster-cup::before{
  background-attachment: fixed;
  background-color: #d2d7d9;
	background-image: -webkit-linear-gradient(0deg, #859fab, #859fab 0.1em,
      transparent 0.1em, transparent), -webkit-linear-gradient(90deg, #859fab,
      #859fab 0.2em, transparent 0.2em, transparent),
      -webkit-repeating-linear-gradient(56.3deg, #859fab, #859fab 0.1em,
      transparent 0.1em, transparent 0.9em),
      -webkit-repeating-linear-gradient(-56.3deg, #859fab, #859fab 0.1em,
      transparent 0.1em, transparent 0.8em);
	background-image: -moz-linear-gradient(0deg, #859fab, #859fab 0.1em,
      transparent 0.1em, transparent), -moz-linear-gradient(90deg, #859fab,
      #859fab 0.2em, transparent 0.2em, transparent),
      -moz-repeating-linear-gradient(56.3deg, #859fab, #859fab 0.1em,
      transparent 0.1em, transparent 0.9em),
      -moz-repeating-linear-gradient(-56.3deg, #859fab, #859fab 0.1em,
      transparent 0.1em, transparent 0.8em);
	background-image: linear-gradient(0deg, #859fab, #859fab 0.1em, transparent
      0.1em, transparent), linear-gradient(90deg, #859fab, #859fab 0.2em,
      transparent 0.2em, transparent), repeating-linear-gradient(56.3deg,
      #859fab, #859fab 0.1em, transparent 0.1em, transparent 1.7em),
      repeating-linear-gradient(-56.3deg, #859fab, #859fab 0.1em,
      transparent 0.1em, transparent 1.6em);
	background-size: 2em 3em, 2em 3em, 2em 3em, 2em 3em;
}
.coaster-cap::before, .coaster-cup span, .coaster-cup span::after,
.coaster-line, .coaster-clear {
  background-color: #d2d7d9;
}
#header {
  position: fixed;
  z-index: 9;
  width: 100%;
  border-bottom: 1px solid #232627;
  background-color: #161819;
  background-color: rgba(22, 24, 25, 0.8);
  color: #617078;
}
#header .pull-right, h1, h2, h3 {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  font-family: Raleway, sans-serif;
  letter-spacing: 0.2em;
}
#header a {
  display: block;
  text-decoration: none;
}
#header h1 a {
  padding: 0.5em;
}
#header .pull-right a {
  display: inline-block;
  padding: 1.5em 1em;
}
#main {
  padding-top: 5em;
  font-size: 16px;
}
#main {
  margin-right: 30%;
}
#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30%;
  overflow: hidden;
  color: #617078;
}
#main label, #sidebar label {
  display: none;
}
#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0.5em;
}
#searchform {
  padding: 1em 0.5em;
}
#fishbot {
  padding: 3em 0 1em 0;
  font-size: 1.5em;
}
#about {
  background-color: #a6b8c1;
  color: #374952;
}
#about .row {
  margin: 0 -4em;
}
#about .row::after {
  content: '';
  display: block;
  clear: both;
}
#about .col {
  width: 50%;
}
#about #presence {
  width: 10em;
  margin: auto;
}
#about .content {
  padding-right: 16em;
  padding-left: 16em;
}
#about .map span, #about em {
  border-color: #d4a36a;
}
#about h2, #about h3, #about cite {
  color: #477286;
}
#about ul {
  list-style-type: none;
  margin: 0;
  padding: 0.5em 0;
}
#about li {
  text-align: left;
}
#interests {
  background-color: #d2d7d9;
  color: #617078;
}
#interests h2 {
  color: #27556c;
}
#interests .list-group-item span {
  background-color: #a6b8c1;
  color: #477286;
}
#gallery h2 {
  color: #617078;
}
.showcase {
  text-align: center;
  width: 53em;
  margin: 0 auto 1em auto;
}
.showcase-back {
  position: absolute;
  width: 53em;
  height: 16em;
  overflow: hidden;
}
.showcase-page {
  height: 16em;
}
.showcase-page > * {
  float: left;
  vertical-align: top;
}
.showcase-pager {
  width: 0.5em;
  margin: 0.44em 0;
  outline: none;
  font-size: 8em;
  line-height: 1;
}
.showcase-pager:hover {
  color: #617078;
  text-decoration: none;
}
.showcase-col {
  width: 11em;
}
.showcase-thumbnail {
  display: block;
  width: 9em;
  height: 6em;
  padding: 1em;
}
.showcase-thumbnail a {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.showcase-thumbnail a:hover {
  opacity: 1;
}
.showcase-thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
}
.showcase-placeholder {
  width: 23em;
  height: 16em;
}
.showcase-front {
  width: 45em;
  margin: auto;
  overflow: hidden;
}
.showcase-front-scroll {
  white-space: nowrap;
}
.showcase-centerfold {
  display: inline-block;
  width: 45em;
  vertical-align: top;
}
.showcase-image {
  width: 21em;
  height: 14em;
  margin: 1em;
}
.showcase-caption {
  width: 30em;
  margin: 1em auto;
  color: #617078;
}
@media screen and (max-width: 960px) {
  body {
    font-size: 16px;
  }
  .list-group {
    margin-right: 10%;
    margin-left: 10%;
  }
  #main, #sidebar {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .svg {
    font-size: 6px;
  }
  .list-group {
    margin-right: 0;
    margin-left: 0;
  }
  #about .row {
    margin: 0;
  }
  #about .content {
    background-color: #d2dbe0;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 1em;
    padding: 1em;
  }
}
@keyframes reel {
	0% {
		top: 0;
	}
	5% {
		top: -1.5em;
	}
  25% {
    top: -1.5em;
  }
  30% {
    top: -3em;
  }
  50% {
    top: -3em;
  }
  55% {
    top: -4.5em;
  }
  75% {
    top: -4.5em;
  }
  80% {
    top: 0;
  }
}
@keyframes left {
	0% {
		left: 0;
	}
  15% {
    left: 100%;
  }
}
@keyframes right {
	0% {
		right: 100%;
	}
  15% {
    right: 0;
  }
}
