@font-face {
  font-family: "squiffles";
  src: url("squiffles.eot?wo3bs2");
  src: url("squiffles.eot?wo3bs2#iefix") format("embedded-opentype"),
    url("squiffles.ttf?wo3bs2") format("truetype"),
    url("squiffles.woff?wo3bs2") format("woff"),
    url("squiffles.svg?wo3bs2#squiffles") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "squiffles" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-couchsurfing:before {
  content: "\e900";
}
.icon-lastfm:before {
  content: "\e901";
}
.icon-telephone:before {
  content: "\e902";
}
.icon-envelope:before {
  content: "\e903";
}
.icon-link:before {
  content: "\e904";
}
.icon-code:before {
  content: "\e905";
}
.icon-mountains:before {
  content: "\e906";
}
.icon-headphones:before {
  content: "\e907";
}
.icon-fencing:before {
  content: "\e908";
}
.icon-pen:before {
  content: "\e909";
}
.icon-fire:before {
  content: "\e90a";
}
.icon-design:before {
  content: "\e90b";
}
