@page {
  margin: 0;
}
html,
#gallery,
.coaster-cap::before,
.coaster-cup > span + span,
.coaster-cup > span + span::after,
.coaster-line,
.coaster-clear {
  background-color: #161819;
}
html {
  scroll-behavior: smooth;
}
body,
.post-title {
  font-family: "Titillium Web", sans-serif;
}
body {
  margin: 0;
  color: #232627;
  font-size: 34px;
  line-height: 1.5;
}
body.page {
  position: relative;
  width: 8.5in;
  height: 11in;
  margin: auto;
  background-color: #d2d7d9;
}
h1 {
  margin: 0;
  font-size: 2em;
}
body.page h1 {
  clear: both;
  border-bottom: 0.1em solid #859fab;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}
body.page h1:first-child {
  padding-top: 1em;
}
h2 {
  margin: 0;
  padding: 0.625em 0;
  font-size: 1.6em;
}
h3 {
  margin: 0;
  padding: 2.5em 0 0.5em 0;
  font-size: 1em;
}
body.page h3 {
  margin: 0.5em 0;
  padding: 0;
}
h4 {
  float: right;
  margin-top: 0.5em;
  margin-bottom: 0;
  color: #617078;
  font-size: 0.9em;
  line-height: 1em;
}
p {
  margin: 0;
  padding: 0.5em 0;
}
body.page p,
body.page ul {
  font-size: 0.9em;
}
body.page p {
  clear: left;
  margin-top: 0.5em;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
i {
  font-style: normal;
  padding-right: 0.5em;
}
a img {
  border: none;
}
p img,
ul img {
  vertical-align: middle;
}
ul {
  list-style-type: square;
  padding-left: 2em;
}
li {
  margin: 0.5em 0;
}
table {
  table-layout: fixed;
  width: 100%;
}
td {
  vertical-align: top;
}
.grid td {
  background-color: #859fab;
  text-align: center;
  font-size: 3em;
  line-height: 1.2em;
}
.grid td i {
  padding-right: 0;
  color: #467286;
}
.license {
  display: block;
  color: #467286;
  text-align: right;
  font-size: 0.7em;
}
.col {
  float: left;
  width: 50%;
}
.col-40 {
  width: 40%;
}
.col-60 {
  width: 60%;
}
.lead {
  text-align: left;
  font-size: 1.6em;
}
.drop {
  float: left;
  margin: -0.25em 0.2em -0.25em 0;
  font-size: 3em;
  font-weight: bold;
}
.post {
  position: relative;
  margin-top: 1.8em;
  margin-right: 1em;
  border-radius: 0.3em;
  overflow: hidden;
  font-size: 1.2em;
}
.post a,
.comment-respond h3,
.wp-block-quote {
  color: #467286;
}
.post-title,
.post-title a,
.wp-block-quote.block-warning,
.comment.comment-author-admin a {
  color: #806d15;
}
.post-title {
  padding: 0.6em 0.8em;
  background-color: #d4c26a;
  text-transform: none;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: normal;
}
.post-content,
#main .post-content h3 {
  color: #222;
}
.post-content {
  padding: 0.6em 1.3em;
  background-color: #eee;
}
.post-content figcaption {
  margin-top: 1em;
  text-align: center;
  font-size: 0.8em;
}
.post-end::after {
  content: "  \220e";
  white-space: pre;
}
.sharedaddy.sharedaddy.sharedaddy h3 {
  font-size: 1em;
}
.post-comments,
.post-comments .children {
  list-style-type: none;
  padding: 0;
}
.post-comments .children {
  padding-left: 2em;
}
.post-comments li {
  margin: 0;
  color: #374952;
}
.post-comments li,
.comment.comment.even,
.comment.odd + li {
  background-color: #bcc8cd;
}
.comment.comment.odd,
.comment.even + li {
  background-color: #a6b8c1;
}
.comment.comment.comment-author-admin {
  background-color: #b9bd9e;
  color: #292100;
}
.comment.comment-author-admin.even {
  background-color: #c6c6a5;
}
.comment-body,
.comment-respond {
  padding: 1.1em 1.3em;
}
.comment-meta {
  font-size: 0.8em;
}
.comment-edit-link {
  padding-left: 0.5em;
}
.comment-body p,
.comment-body .reply {
  margin-left: 3.9em;
}
.comment-respond h3 {
  padding-top: 0.5em;
  padding-bottom: 1.5em;
}
.comment-respond .comment-subscription-form {
  margin-bottom: 0;
}
.avatar {
  float: left;
  width: 3em;
  height: auto;
  margin-right: 0.9em;
}
.fn {
  font-style: normal;
  font-weight: bold;
}
.date {
  float: right;
  text-transform: none;
  font: 0.9em/1 "Titillium Web", sans-serif;
  font-weight: bold;
  letter-spacing: normal;
}
.wp-block-buttons.wp-block-buttons {
  display: block;
  margin: 2em 0;
  text-align: center;
}
.wp-block-buttons .wp-block-button__link {
  background-color: #27556c;
  text-decoration: none;
  font-size: 1em;
}
.wp-block-buttons .wp-block-button__link:hover {
  background-color: #467286;
}
.wp-block-embed,
.wp-block-image {
  margin: 1em 0;
}
.wp-block-embed .fb-post,
.wp-block-embed .wp-embedded-content,
.wp-block-embed iframe,
.wp-block-image img,
.wp-block-table td > img {
  display: block;
  margin: auto;
  border: 0.1em solid #eee;
  box-shadow: 0 0 0.2em #222;
  background-color: #fff;
}
.wp-block-embed .fb-post,
.wp-block-embed .wp-embedded-content {
  width: 500px;
}
.wp-block-image img,
.wp-block-table td > img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 500px;
}
.wp-block-quote {
  background-color: #d2d7d9;
  background-color: rgba(166, 184, 193, 0.4);
  margin: 1em 0;
  border-left: 0.2em solid;
  padding: 0 1em;
}
.wp-block-quote > p:first-child::before {
  content: "NB: ";
  font-weight: bold;
}
.wp-block-quote.block-warning {
  background-color: #e4ddb9;
  background-color: rgba(212, 194, 106, 0.4);
}
.wp-block-quote.block-error {
  background-color: #ddb6be;
  background-color: rgba(196, 98, 119, 0.4);
  color: #761429;
}
.wp-block-quote a,
.showcase a {
  text-decoration: underline;
}
.svg {
  position: relative;
}
.svg-ellipse,
.svg-line {
  display: block;
  position: absolute;
  border-style: solid;
  border-color: #232627;
}
.svg-ellipse {
  border-radius: 100%;
}
.svg-line::after {
  content: "";
  display: block;
  position: absolute;
  top: -0.2em;
  bottom: -0.2em;
  background-color: #617078;
  animation-name: left, right;
  animation-delay: inherit;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in, ease-out;
}
.map {
  position: relative;
  height: 100%;
  overflow: auto;
}
.map img {
  display: block;
  position: absolute;
  height: 100%;
}
.map-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.map-arc {
  display: block;
  position: absolute;
  border-width: 0.2em 0 0 0;
  border-style: solid;
  border-radius: 50%;
  font-style: normal;
}
.map-arc.map-arc-plane {
  border-width: 0.1em 0 0 0;
}
.map-arc.map-arc-thumb {
  border-width: 0.2em 0 0 0;
}
.map-point,
.map-blip::before,
.map-blip::after {
  display: block;
  position: absolute;
  width: 0.4em;
  height: 0.4em;
  margin: -0.2em;
  border-radius: 0.2em;
}
.map-point::before {
  content: "";
  display: block;
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  bottom: -0.5em;
  left: -0.5em;
}
.map-point > span {
  display: block;
  position: absolute;
  top: 0.2em;
  z-index: 1;
  width: 0;
  height: 2em;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.7em;
  transition: width 300ms linear;
}
.map-point:hover > span {
  width: 20em;
}
.map-point.map-point-left > span {
  right: 0.5em;
}
.map-point.map-point-right > span {
  left: 0.5em;
}
.map-point > span::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  border-width: 0 0 0.8em 0;
  border-style: solid;
  border-color: transparent #aa9439;
}
.map-point > span > span {
  display: block;
  position: absolute;
  padding: 0.2em 0.4em;
  background-color: #aa9439;
}
.map-point.map-point-left > span::after {
  right: 0;
  border-left-width: 1.2em;
}
.map-point.map-point-right > span::after {
  left: 0;
  border-right-width: 1.2em;
}
.map-point.map-point-left > span > span {
  right: 1.1em;
}
.map-point.map-point-right > span > span {
  left: 1.1em;
}
.map-blip {
  display: block;
  position: absolute;
}
.map-blip::before,
.map-blip::after {
  content: "";
  border-radius: 0.9em;
  animation: 2s infinite;
}
.map-blip::before {
  animation-name: blip-nova;
}
.map-blip::after {
  animation-name: blip-core;
}
.pull-right {
  float: right;
}
.links {
  display: block;
  position: absolute;
  bottom: 2.5em;
  width: 80%;
  margin: 0 10%;
  padding: 0;
  list-style-type: none;
}
.links > li {
  display: block;
  float: left;
  width: 25%;
  text-align: center;
  text-transform: lowercase;
}
.honeycomb-row {
  float: left;
  margin: 0 0.4em;
}
.honeycomb-row:nth-child(2n) {
  margin-top: 1.8em;
}
.honeycomb-cell {
  display: block;
  position: relative;
  width: 2em;
  height: 3.46em;
  margin: 0.15em;
  white-space: nowrap;
}
a.honeycomb-cell {
  z-index: 1;
}
.honeycomb-cell::before,
.honeycomb-cell::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  border-top: 1.73em solid transparent;
  border-bottom: 1.73em solid transparent;
}
.honeycomb-cell::before {
  right: 100%;
  border-right: 1em solid transparent;
}
.honeycomb-cell::after {
  left: 100%;
  border-left: 1em solid transparent;
}
.honeycomb-cell.honeycomb-dark {
  background-color: #161819;
}
.honeycomb-cell.honeycomb-dark::before {
  border-right-color: #161819;
}
.honeycomb-cell.honeycomb-dark::after {
  border-left-color: #161819;
}
.honeycomb-cell.honeycomb-medium {
  background-color: #5c6970;
}
.honeycomb-cell.honeycomb-medium::before {
  border-right-color: #5c6970;
}
.honeycomb-cell.honeycomb-medium::after {
  border-left-color: #5c6970;
}
.honeycomb-cell.honeycomb-light {
  background-color: #819098;
}
.honeycomb-cell.honeycomb-light::before {
  border-right-color: #819098;
}
.honeycomb-cell.honeycomb-light::after {
  border-left-color: #819098;
}
.honeycomb-honey {
  position: relative;
  z-index: 1;
  height: 2em;
  margin: 0.7em -1em;
}
.coaster {
  position: relative;
  height: 14em;
  margin-op: -1em;
  overflow: hidden;
}
.coaster-track,
.coaster-cap > span,
.coaster-cap > span > span,
.coaster-cup > span:first-child {
  background: #30383b;
  background: -webkit-linear-gradient(
      0deg,
      #617078,
      #617078 0.1em,
      transparent 0.1em,
      transparent
    ),
    -webkit-linear-gradient(90deg, #617078, #617078 0.2em, transparent 0.2em, transparent),
    -webkit-repeating-linear-gradient(56.3deg, #617078, #617078 0.1em, transparent
          0.1em, transparent 0.9em),
    -webkit-repeating-linear-gradient(
        -56.3deg,
        #617078,
        #617078 0.1em,
        transparent 0.1em,
        transparent 0.8em
      ) #161819;
  background: -moz-linear-gradient(
      0deg,
      #617078,
      #617078 0.1em,
      transparent 0.1em,
      transparent
    ),
    -moz-linear-gradient(90deg, #617078, #617078 0.2em, transparent 0.2em, transparent),
    -moz-repeating-linear-gradient(56.3deg, #617078, #617078 0.1em, transparent
          0.1em, transparent 0.9em),
    -moz-repeating-linear-gradient(
        -56.3deg,
        #617078,
        #617078 0.1em,
        transparent 0.1em,
        transparent 0.8em
      ) #161819;
  background: linear-gradient(
      0deg,
      #617078,
      #617078 0.1em,
      transparent 0.1em,
      transparent
    ),
    linear-gradient(
      90deg,
      #617078,
      #617078 0.2em,
      transparent 0.2em,
      transparent
    ),
    repeating-linear-gradient(
      56.3deg,
      #617078,
      #617078 0.1em,
      transparent 0.1em,
      transparent 1.7em
    ),
    repeating-linear-gradient(
        -56.3deg,
        #617078,
        #617078 0.1em,
        transparent 0.1em,
        transparent 1.6em
      )
      #161819;
  background-size: 2em 3em, 2em 3em, 2em 3em, 2em 3em;
}
.coaster-track {
  position: absolute;
  left: 50%;
  width: 43em;
  height: 100%;
}
.coaster-track::before,
.coaster-track::after {
  content: "\01f682\fe0e";
  display: block;
  position: absolute;
  bottom: -1em;
  z-index: 1;
  margin-left: -0.3em;
  animation-name: train-bottom, train-linear;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.coaster-track::after {
  animation-delay: -4s;
}
.coaster-cap,
.coaster-cup,
.coaster-line,
.coaster-clear {
  display: block;
  position: absolute;
  overflow: hidden;
}
.coaster-line {
  height: 2em;
  border-bottom: 0.3em solid #617078;
  transform-origin: bottom left;
}
.coaster-cap > span,
.coaster-cup > span + span {
  display: block;
  position: absolute;
  top: 0;
  right: -10%;
  bottom: 0;
  left: -10%;
  border: 0.3em solid #617078;
  border-radius: 100%;
}
.coaster-cap::before,
.coaster-cap > span > span,
.coaster-cup > span:first-child,
.coaster-cup > span + span::after {
  content: "";
  display: block;
  position: absolute;
  left: -0.3em;
  width: 100%;
  height: 12em;
  padding: 0 0.3em;
}
.coaster-cap::before {
  bottom: 75%;
}
.coaster-cap > span > span {
  top: 25%;
}
.coaster-cup > span:first-child {
  top: 75%;
}
.coaster-cup > span + span::after {
  bottom: 25%;
}
.bouncer {
  display: block;
  position: absolute;
  bottom: 0.5em;
  left: 50%;
  padding: 1em;
  font-size: 0.5em;
}
.bouncer::after {
  content: "";
  display: block;
  width: 2em;
  height: 2em;
  border-style: solid;
  transform: rotate(45deg);
  animation: 2s infinite bounce;
}
.progress {
  margin: 0.7em 0;
  padding-left: 0;
  background-color: #859fab;
}
.progress span {
  display: block;
  height: 0.8em;
  background-color: #467286;
}
.timeline {
  margin: 0;
}
.timeline > dt,
.post-category {
  height: 1em;
  border-radius: 0.2em;
  padding: 0.5em;
  color: #d2d7d9;
  font-size: 1.2em;
}
.timeline > dt,
.timeline > dt::after {
  background-color: #27556c;
}
.timeline > dt {
  position: relative;
  position: sticky;
  top: 6em;
  float: left;
  clear: left;
  width: 4.9em;
  margin-top: 2.8em;
  margin-left: 1.4em;
  text-align: center;
}
.page .timeline > dt {
  position: relative;
  top: 0;
  width: 5em;
  margin-top: 0.5em;
  margin-left: -0.1em;
  font-size: 1em;
}
.timeline > dt.disabled,
.timeline > dt.disabled::after {
  background-color: #617078;
}
.timeline > dt::before {
  display: block;
  position: absolute;
  top: 0;
  right: -0.9em;
  content: "";
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-left: 1em solid #27556c;
}
.timeline > dt.disabled::before {
  border-left-color: #617078;
}
.timeline > dt::after {
  display: block;
  position: absolute;
  top: 0.7em;
  right: -3em;
  content: "";
  width: 0.6em;
  height: 0.6em;
  border-radius: 0.2em;
}
.page .timeline > dt::after {
  right: -2.5em;
}
#main .timeline > dt.disabled + dd > * {
  color: #617078;
}
#main .timeline > dt.disabled + dd > h4 {
  color: #819098;
}
.timeline > dd {
  margin-left: 11.9em;
  border-left: 0.2em solid #859fab;
  padding: 1em 0 3em 2em;
}
.page .timeline > dd {
  min-height: 2em;
  margin-left: 8em;
  padding-top: 0.5em;
  padding-bottom: 0;
  padding-left: 1.5em;
}
.page .timeline ul {
  margin: 0;
  font-size: 0.8em;
}
.page .timeline li {
  margin-bottom: 0;
}
.post-category {
  float: right;
  margin-right: 1.3em;
  margin-bottom: -0.2em;
}
.post-category:hover,
.post-category:focus {
  text-decoration: none;
}
.post-category-shitposts {
  background-color: #4e6500;
}
.post-category-shitposts:hover,
.post-category-shitposts:focus {
  background-color: #729008;
}
.post-category-stupid-hacks {
  background-color: #975408;
}
.post-category-stupid-hacks:hover,
.post-category-stupid-hacks:focus {
  background-color: #ba690b;
}
.post-category-territorial-musings {
  background-color: #550e7c;
}
.post-category-territorial-musings:hover,
.post-category-territorial-musings:focus {
  background-color: #68099d;
}
.post-category-updates {
  background-color: #8b0723;
}
.post-category-updates:hover,
.post-category-updates:focus {
  background-color: #ac0a2d;
}
.cat-item {
  overflow: hidden;
}
.cat-item a {
  position: relative;
}
.cat-item a::after {
  content: "";
  display: block;
  position: absolute;
  top: 0.7em;
  left: 100%;
  width: 40em;
  height: 0.4em;
  margin-left: 1em;
}
.cat-item-1 a::after {
  background-color: #9d344b;
}
.cat-item-1 a:hover::after,
.cat-item-1 a:focus::after {
  background-color: #c56277;
}
.cat-item-2 a::after {
  background-color: #764b8e;
}
.cat-item-2 a:hover::after,
.cat-item-2 a:focus::after {
  background-color: #9775aa;
}
.cat-item-3 a::after {
  background-color: #aa7539;
}
.cat-item-3 a:hover::after,
.cat-item-3 a:focus::after {
  background-color: #d4a36a;
}
.cat-item-4 a::after {
  background-color: #637a14;
}
.cat-item-4 a:hover::after,
.cat-item-3 a:focus::after {
  background-color: #8aa236;
}
.skills {
  padding: 0;
}
.skills li {
  display: inline-block;
  margin: 0.1em 0;
  border-radius: 0.3em;
  padding: 0.1em 0.5em;
  background-color: #a6b8c1;
  color: #617078;
  font-style: normal;
  font-weight: bold;
}
.aside {
  position: absolute;
  bottom: 0;
  width: 24em;
  padding: 2em 0;
}
.aside-left {
  left: 7.6em;
  transform: rotate(-90deg);
  transform-origin: bottom left;
}
.aside-right {
  right: 7.6em;
  transform: rotate(90deg);
  transform-origin: bottom right;
}
.showcase {
  text-align: center;
  width: 50em;
  margin: -4em auto 0 auto;
  font-size: 2vh;
}
.showcase-pages {
  position: relative;
  z-index: 1;
  height: 14em;
  overflow: hidden;
}
.showcase-page {
  clear: left;
}
.showcase-page::before {
  content: "";
  display: block;
  height: 4em;
}
.showcase-pager,
.showcase-thumbnail {
  float: left;
}
.showcase-pager {
  width: 1em;
  color: #232627;
  font-size: 3em;
  line-height: 3.2em;
}
.showcase-pager:hover,
.showcase-pager:focus {
  color: #617078;
  text-decoration: none;
}
.showcase-thumbnail {
  width: 9em;
  height: 6em;
  padding: 2em 1em;
  opacity: 0.7;
}
.showcase-thumbnail:hover {
  opacity: 1;
}
.showcase-focus {
  white-space: nowrap;
  overflow: hidden;
  margin-top: -14em;
}
.showcase-centerfold {
  display: inline-block;
  width: 42em;
  padding: 14em 4em 0 4em;
  vertical-align: top;
}
.showcase-thumbnail > img,
.showcase-centerfold > img {
  display: block;
  width: 100%;
}
.showcase-caption {
  width: 30em;
  margin: 1em auto;
  white-space: normal;
}
.page-inner {
  padding: 0.25in;
  margin: -4px;
}
.card {
  position: relative;
  float: left;
  width: 2in;
  height: 3.5in;
  border: 1px dotted #666;
  overflow: hidden;
  background-color: #a6b8c1;
  page-break-inside: avoid;
}
.card-inner {
  position: absolute;
  left: 2in;
  width: 3.5in;
  height: 2in;
  transform: rotate(90deg);
  transform-origin: top left;
}
.card-fishbot {
  position: absolute;
  top: -0.2in;
  left: -3.4in;
  padding: 0.3in;
  background-color: #161819;
}
.card .svg {
  font-size: 0.05in;
}
.card .svg-ellipse,
.card .svg-line {
  border-color: #617078;
}
.card .svg-line::after {
  display: none;
}
.card .honeycomb {
  position: absolute;
  top: -0.14in;
  left: 0.67in;
  text-align: center;
  font-size: 0.07in;
  line-height: 1;
}
.card-content {
  position: absolute;
  top: 0.3in;
  right: 0.3in;
  text-align: right;
  font-size: 0.14in;
  line-height: 1;
}
.card h2 {
  margin-bottom: 0.3in;
  color: #9d344b;
}
.card i {
  padding-right: 0;
  padding-left: 0.5em;
}
#header {
  position: fixed;
  z-index: 9;
  width: 100%;
  border-bottom: 1px solid #232627;
  background-color: #161819;
  background-color: rgba(22, 24, 25, 0.8);
}
#header .pull-right,
h1,
h2,
h3,
.timeline > dt,
.post-category,
.wp-block-button__link {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  font-family: Raleway, sans-serif;
  letter-spacing: 0.2em;
}
#header a,
#fishbot .links {
  color: #617078;
}
#fishbot .bouncer::after {
  border-color: #617078;
}
#header a {
  display: inline-block;
  padding: 0.5em;
  text-decoration: none;
}
#header a:hover,
#header a:focus {
  outline: none;
  color: #9d344b;
}
#header .pull-right a {
  padding: 1.5em 1em;
}
#header .pull-right a:hover,
#header .pull-right a:focus {
  color: #aa9439;
}
#main,
#sidebar {
  padding-top: 8em;
  font-size: 16px;
}
#main {
  margin-right: 30%;
  padding-left: 1em;
}
body.page #main {
  height: 100%;
  margin-right: 0;
  border-left: 1em solid #27556c;
  padding: 0 18em 0 2em;
  font-size: 14px;
}
#main h1,
#main h3 {
  color: #27556c;
}
#main h1 {
  margin-right: -1em;
  margin-left: 4em;
  padding-right: 1em;
  text-align: right;
}
#main .col h3 {
  padding-top: 1.5em;
  text-align: right;
}
#main .col > div {
  padding-right: 0.5em;
}
#main .col + .col > div {
  padding-right: 0;
  padding-left: 0.5em;
}
#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  list-style-type: none;
  width: 30%;
  margin: 0;
  overflow: auto;
  color: #617078;
}
body.page #sidebar {
  position: absolute;
  width: 12em;
  height: 100%;
  padding: 0 2em;
  background-color: #a6b8c1;
  color: #374952;
  font-size: 14px;
}
#sidebar form {
  position: relative;
  padding: 1em 7em 1em 1em;
}
#sidebar h1,
#sidebar h3 {
  color: #467286;
}
#sidebar h1 {
  margin-bottom: 0.5em;
  margin-left: -1em;
  padding-left: 1em;
}
#sidebar h3 {
  clear: both;
  margin-top: 0;
  padding-top: 4em;
}
#sidebar input[type="text"],
#sidebar input[type="email"] {
  width: 100%;
  border: 2px solid #232627;
  color: #617078;
  background-color: #161819;
}
#sidebar input[type="text"]:hover,
#sidebar input[type="text"]:focus,
#sidebar input[type="email"]:hover,
#sidebar input[type="email"]:focus {
  border-color: #617078;
  background-color: #232627;
  color: #d2d7d9;
}
#sidebar label,
.comment-form-comment label {
  display: none;
}
#sidebar #subscribe-email,
#sidebar #subscribe-submit {
  padding: 0;
}
#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0 1em;
}
#sidebar .lead {
  margin: 1em 0;
  font-size: 1em;
}
#searchform::before,
#searchsubmit,
#subscribe-submit button {
  position: absolute;
  top: 0.2em;
  right: 1.6em;
  width: 1em;
  height: 1em;
  padding: 0.2em 0.4em 0.7em 0.4em;
  font-size: 2em;
}
#searchform::before {
  display: block;
  content: "\f100";
  font-family: icon;
}
#searchsubmit,
#subscribe-submit button {
  box-sizing: content-box;
  border: none;
  color: transparent;
  background-color: transparent;
  cursor: pointer;
}
#s {
  margin: -0.3em -1.8em -0.3em -0.4em;
  border-radius: 0.2em;
  padding: 0.3em 1.8em 0.3em 0.4em;
  font-size: 2em;
}
#subscribe-email input {
  margin: -0.6em -3.6em -0.6em -0.8em;
  border-radius: 0.4em;
  padding: 0.6em 3.6em 0.6em 0.8em;
  font-size: 1em;
}
#subscribe-submit button {
  height: 0.5em;
  padding-top: 0;
  padding-bottom: 0.9em;
  color: #617078;
}
#subscribe-submit button::-moz-focus-inner {
  border: none;
}
#fishbot {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 1.5em;
}
#fishbot .svg {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0.4em;
  transform: translate(-50%, -50%);
}
#fishbot .links {
  font-size: 0.6em;
}
#scroll {
  position: absolute;
  top: 100%;
}
#scroll > div {
  position: relative;
  overflow: hidden;
  text-align: center;
}
#about,
#about .honeycomb-cell.honeycomb-light,
#travel .map-blip::before,
#travel .map-blip::after {
  background-color: #d2d7d9;
}
#about {
  height: 24em;
  color: #374952;
}
#about .aside,
#about .honeycomb-cell {
  background-color: #374952;
}
#about h2 {
  color: #a6b8c1;
}
#about a,
#about .drop {
  color: #27556c;
  font-weight: bold;
}
#about .honeycomb {
  position: absolute;
  right: 6.63em;
  font-size: 0.83em;
  top: -3.7em;
}
#about .honeycomb-row {
  float: right;
}
#about .honeycomb-cell::before {
  border-right-color: #374952;
}
#about .honeycomb-cell::after {
  border-left-color: #374952;
}
#about .honeycomb-cell.honeycomb-light::before {
  border-right-color: #d2d7d9;
}
#about .honeycomb-cell.honeycomb-light::after {
  border-left-color: #d2d7d9;
}
#about .honeycomb-cell.honeycomb-1064 {
  background-color: #43877b;
}
#about .honeycomb-cell.honeycomb-1064::before {
  border-right-color: #43877b;
}
#about .honeycomb-cell.honeycomb-1064::after {
  border-left-color: #43877b;
}
#about .honeycomb-cell.honeycomb-1064:hover,
#about .honeycomb-cell.honeycomb-1064:focus {
  background-color: #246c60;
}
#about .honeycomb-cell.honeycomb-1064:hover::before,
#about .honeycomb-cell.honeycomb-1064:focus::before {
  border-right-color: #246c60;
}
#about .honeycomb-cell.honeycomb-1064:hover::after,
#about .honeycomb-cell.honeycomb-1064:focus::after {
  border-left-color: #246c60;
}
#about .honeycomb-cell.honeycomb-blacker {
  background-color: rgba(22, 24, 25, 0.6);
}
#about .honeycomb-cell.honeycomb-blacker::before {
  border-right-color: rgba(22, 24, 25, 0.6);
}
#about .honeycomb-cell.honeycomb-blacker::after {
  border-left-color: rgba(22, 24, 25, 0.6);
}
#about .honeycomb-cell.honeycomb-blacker:hover,
#about .honeycomb-cell.honeycomb-blacker:focus {
  background-color: rgba(22, 24, 25, 0.8);
}
#about .honeycomb-cell.honeycomb-blacker:hover::before,
#about .honeycomb-cell.honeycomb-blacker:focus::before {
  border-right-color: rgba(22, 24, 25, 0.8);
}
#about .honeycomb-cell.honeycomb-blacker:hover::after,
#about .honeycomb-cell.honeycomb-blacker:focus::after {
  border-left-color: rgba(22, 24, 25, 0.8);
}
#about .honeycomb-cell.honeycomb-caltech {
  background-color: rgba(153, 79, 31, 0.6);
}
#about .honeycomb-cell.honeycomb-caltech::before {
  border-right-color: rgba(153, 79, 31, 0.6);
}
#about .honeycomb-cell.honeycomb-caltech::after {
  border-left-color: rgba(153, 79, 31, 0.6);
}
#about .honeycomb-cell.honeycomb-caltech:hover,
#about .honeycomb-cell.honeycomb-caltech:focus {
  background-color: rgba(153, 79, 31, 0.8);
}
#about .honeycomb-cell.honeycomb-caltech:hover::before,
#about .honeycomb-cell.honeycomb-caltech:focus::before {
  border-right-color: rgba(153, 79, 31, 0.8);
}
#about .honeycomb-cell.honeycomb-caltech:hover::after,
#about .honeycomb-cell.honeycomb-caltech:focus::after {
  border-left-color: rgba(153, 79, 31, 0.8);
}
#about .honeycomb-cell.honeycomb-clrhome {
  background-color: rgba(90, 128, 25, 0.6);
}
#about .honeycomb-cell.honeycomb-clrhome::before {
  border-right-color: rgba(90, 128, 25, 0.6);
}
#about .honeycomb-cell.honeycomb-clrhome::after {
  border-left-color: rgba(90, 128, 25, 0.6);
}
#about .honeycomb-cell.honeycomb-clrhome:hover,
#about .honeycomb-cell.honeycomb-clrhome:focus {
  background-color: rgba(90, 128, 25, 0.8);
}
#about .honeycomb-cell.honeycomb-clrhome:hover::before,
#about .honeycomb-cell.honeycomb-clrhome:focus::before {
  border-right-color: rgba(90, 128, 25, 0.8);
}
#about .honeycomb-cell.honeycomb-clrhome:hover::after,
#about .honeycomb-cell.honeycomb-clrhome:focus::after {
  border-left-color: rgba(90, 128, 25, 0.8);
}
#about .honeycomb-cell.honeycomb-omnimaga {
  background-color: rgba(46, 25, 128, 0.6);
}
#about .honeycomb-cell.honeycomb-omnimaga::before {
  border-right-color: rgba(46, 25, 128, 0.6);
}
#about .honeycomb-cell.honeycomb-omnimaga::after {
  border-left-color: rgba(46, 25, 128, 0.6);
}
#about .honeycomb-cell.honeycomb-omnimaga:hover,
#about .honeycomb-cell.honeycomb-omnimaga:focus {
  background-color: rgba(46, 25, 128, 0.8);
}
#about .honeycomb-cell.honeycomb-omnimaga:hover::before,
#about .honeycomb-cell.honeycomb-omnimaga:focus::before {
  border-right-color: rgba(46, 25, 128, 0.8);
}
#about .honeycomb-cell.honeycomb-omnimaga:hover::after,
#about .honeycomb-cell.honeycomb-omnimaga:focus::after {
  border-left-color: rgba(46, 25, 128, 0.8);
}
#about .honeycomb-cell.honeycomb-revsoft {
  background-color: rgba(153, 117, 31, 0.6);
}
#about .honeycomb-cell.honeycomb-revsoft::before {
  border-right-color: rgba(153, 117, 31, 0.6);
}
#about .honeycomb-cell.honeycomb-revsoft::after {
  border-left-color: rgba(153, 117, 31, 0.6);
}
#about .honeycomb-cell.honeycomb-revsoft:hover,
#about .honeycomb-cell.honeycomb-revsoft:focus {
  background-color: rgba(153, 117, 31, 0.8);
}
#about .honeycomb-cell.honeycomb-revsoft:hover::before,
#about .honeycomb-cell.honeycomb-revsoft:focus::before {
  border-right-color: rgba(153, 117, 31, 0.8);
}
#about .honeycomb-cell.honeycomb-revsoft:hover::after,
#about .honeycomb-cell.honeycomb-revsoft:focus::after {
  border-left-color: rgba(153, 117, 31, 0.8);
}
#about .lead {
  margin: 1.5em 13em 1.5em 3em;
}
#travel {
  height: 28em;
  background-color: #a6b8c1;
}
#travel h2 {
  color: #467286;
}
#travel .map-arc.map-arc-plane {
  border-color: rgba(55, 73, 82, 0.6);
}
#travel .map-arc.map-arc-thumb {
  border-color: rgba(157, 54, 76, 0.6);
}
#travel .map-point {
  background-color: #aa9439;
}
#gallery {
  padding-top: 2em;
  color: #617078;
}
@media (max-aspect-ratio: 1.02) {
  .showcase {
    font-size: 1.96vw;
  }
}
@media only screen and (hover: none) {
  .showcase {
    font-size: 1em;
  }
}
@media (max-aspect-ratio: 4/5) {
  #fishbot .links {
    font-size: 1em;
  }
  .links > li {
    width: 50%;
  }
  .bouncer {
    font-size: 0.8em;
  }
}
@media (max-aspect-ratio: 3/5) {
  #header {
    padding-bottom: 5em;
  }
  #header h1 {
    text-align: center;
    font-size: 4em;
  }
  #header .pull-right {
    position: absolute;
    float: none;
    width: 100%;
    text-align: center;
    font-size: 2em;
    top: 3em;
  }
  #main,
  #sidebar {
    padding-top: 16em;
  }
  #fishbot .links {
    font-size: 1.5em;
  }
  .links > li {
    width: 100%;
  }
  .bouncer {
    font-size: 1em;
  }
}
@media screen and (max-width: 1920px) {
  body {
    font-size: 26px;
  }
}
@media screen and (max-width: 1440px) {
  body {
    font-size: 20px;
  }
}
@media screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
  .timeline > dt {
    position: relative;
    top: 1em;
    margin-left: -1em;
    transform: rotate(-90deg);
  }
  .page .timeline > dt {
    top: 0;
    transform: none;
  }
  .timeline > dt::before,
  .timeline > dt::after {
    display: none;
  }
  .page .timeline > dt::before,
  .page .timeline > dt::after {
    display: block;
  }
  .timeline > dd {
    margin-left: 2.2em;
    padding-left: 3em;
  }
  .post {
    position: relative;
    top: -2em;
    clear: left;
  }
  #main,
  #sidebar {
    font-size: 13px;
  }
}
@keyframes left {
  0% {
    left: 0;
  }
  15% {
    left: 100%;
  }
}
@keyframes right {
  0% {
    right: 100%;
  }
  15% {
    right: 0;
  }
}
@keyframes blip-core {
  0% {
    width: 0.2em;
    height: 0.2em;
    margin: -0.1em;
    animation-timing-function: ease-out;
  }
  50% {
    width: 0.6em;
    height: 0.6em;
    margin: -0.3em;
    animation-timing-function: ease-in;
  }
}
@keyframes blip-nova {
  0% {
    width: 0.2em;
    height: 0.2em;
    margin: -0.1em;
    opacity: 1;
  }
  80% {
    width: 1.8em;
    height: 1.8em;
    margin: -0.9em;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes train-bottom {
  0% {
    bottom: 12em;
    animation-timing-function: cubic-bezier(0.4, 0, 0.8, 0.4);
  }
  12.5% {
    bottom: 8em;
    animation-timing-function: cubic-bezier(0.2, 1.6, 0.8, 1.6);
  }
  25% {
    bottom: 4em;
    animation-timing-function: cubic-bezier(0.3, 2.8, 0.7, 3.4);
  }
  37.5% {
    bottom: 5em;
    animation-timing-function: cubic-bezier(0.2, -0.8, 0.7, -1);
  }
  43.75% {
    bottom: 6em;
    animation-timing-function: cubic-bezier(0.4, -6.8, 0.8, -3.4);
  }
  68.75% {
    bottom: 5em;
    animation-timing-function: cubic-bezier(0.3, -1.4, 0.6, -1.2);
  }
  81.25% {
    bottom: 7em;
    animation-timing-function: cubic-bezier(0.2, 0.4, 0.6, 1);
  }
  100% {
    bottom: 12em;
  }
}
@keyframes train-linear {
  0% {
    left: 2.3em;
    transform: scale(2) rotateY(180deg);
  }
  12.5% {
    left: 6.2em;
    transform: scale(2) rotate(70deg) rotateY(180deg);
  }
  25% {
    left: 13.3em;
    transform: scale(2) rotate(-50deg) rotateY(180deg);
  }
  37.5% {
    left: 21.4em;
    transform: scale(2) rotate(45deg) rotateY(180deg);
  }
  43.75% {
    left: 24.9em;
    transform: scale(2) rotate(-55deg) rotateY(180deg);
  }
  68.75% {
    left: 35.5em;
    transform: scale(2) rotate(60deg) rotateY(180deg);
  }
  81.25% {
    left: 40.8em;
    transform: scale(2) rotate(-65deg) rotateY(180deg);
  }
  100% {
    left: 45.3em;
    transform: scale(2) rotateY(180deg);
  }
}
@keyframes bounce {
  0% {
    border-width: 0 0.3em 0.3em 0;
    margin-bottom: 0;
    margin-left: -1.65em;
  }
  50% {
    border-width: 0 0.2em 0.2em 0;
    margin-bottom: -0.5em;
    margin-left: -1.6em;
  }
  100% {
    border-width: 0 0.3em 0.3em 0;
    margin-bottom: 0;
    margin-left: -1.65em;
  }
}
